/* 
Project: CBS Research Group Admin Dashboard
Content: Global css file
Date: 29/08/2024 
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.p-datepicker {
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
}
.p-component {
  background-color: rgb(255, 255, 255);
}
.p-ripple-disabled {
  background-color: rgb(255, 255, 255);
}
.p-connected-overlay-enter-done {
  background-color: rgb(255, 255, 255);
}

#dropzone-file {
  display: none;
}
